.kgv_about{
	border: 1px solid red;
	display: inline-block;
	float: left;
	font-family:'kedage';
	padding: 2em 1em 1em 4em;
	font-size: 1em;
	border-left: 1px solid #CCCCCC;
	width: 100%;
	color: #3D3D3D;
	min-height: 48em;
}
.kgv_about p{
	padding: 0em 1em 1em 0em;
/*
	text-align: justify;
*/
}
.kgv_about .h1{
	color: #483D8B;
	font-size: 1em;
	font-weight: bold;
}
.kgv_about ul{
	margin: 0 0 1em 1em;
}
.kgv_about ul li {
	padding:1em 1em 1em 1em;
}
.kgv_about ul li p {
	margin-left: 2.3em;
	width:2em;
}
.cover_page {
	text-align: center;
	
}
.cover_page h1{
	font-size: 2em;
	font-weight: bold;
	
}
.space_right {
	width: 10em;
	float: right;
	margin-right: 1em;
}
.center {
	width:100%;
	text-align: left;
	margin-left:0em;
}
.center_bold {
	width:100%;
	margin-left:0em;
	font-weight:bold;
	text-align: center;
}
.center_bold h1 {
	font-size: 2em;
}
.center_bold h2 {
	font-size: 1em;
	font-weight:bold;
}
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
